h1{
    color: brown;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}
h2{
    font-family: "Poppins", sans-serif;
}
h3 {
    font-family:"Poppins", sans-serif;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
  }